<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.apkpackager"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Android APK Builder</name>

  <dependency id="org.chromium.common" url="." subdir="plugins/chrome-common" />
  <dependency id="android.support.v4" />
  
  <js-module src="apkpackager.js" name="APKPackager">
    <clobbers target="chrome.apkpackager" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/APKPackager.java" target-dir="src/org/chromium" />
    <source-file src="src/android/aapt/AaptResourceGroup.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Chunk.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Config.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/ConfigVariant.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Driver.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Entry.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Map.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/MapEntry.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Package.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/ResourceArchive.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Streamable.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/StringPool.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Table.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/TableRef.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Type.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/TypeBundle.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/TypeSpec.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/Value.java" target-dir="src/org/chromium/aapt" />
    <source-file src="src/android/aapt/XMLNode.java" target-dir="src/org/chromium/aapt" />

    <source-file src="lib/libs/kellinwood-logging-android-1.4.jar" target-dir="libs" />
    <source-file src="lib/libs/kellinwood-logging-lib-1.1.jar" target-dir="libs" />
    <source-file src="lib/libs/kellinwood-logging-log4j-1.0.jar" target-dir="libs" />
    <source-file src="lib/libs/core-1.50.0.0.jar" target-dir="libs" />
    <source-file src="lib/libs/pkix-1.50.0.0.jar" target-dir="libs" />
    <source-file src="lib/libs/prov-1.50.0.0.jar" target-dir="libs" />
    <source-file src="lib/libs/sdklib-22.0.jar" target-dir="libs" />
    <source-file src="lib/libs/zipio-lib-1.8.jar" target-dir="libs" />
    <source-file src="lib/libs/zipsigner-lib-1.17.jar" target-dir="libs" />
    <source-file src="lib/libs/zipsigner-lib-optional-1.16.jar" target-dir="libs" />
    <source-file src="lib/libs/axml-2.0.jar" target-dir="libs" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="APKPackager">
        <param name="android-package" value="org.chromium.APKPackager"/>
      </feature>
    </config-file>
  </platform>

</plugin>
