<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.apkpackager"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Android APK Builder</name>

  <dependency id="org.chromium.common" url="." subdir="plugins/chrome-common" />
  <dependency id="android.support.v4" />
  
  <js-module src="apkpackager.js" name="APKPackager">
    <clobbers target="chrome.apkbuilder" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/APKPackager.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="APKPackager">
        <param name="android-package" value="org.chromium.apkpackager"/>
      </feature>
    </config-file>
  </platform>

</plugin>
